1   ICON "data/icon1.ico"
2   ICON "data/icon8.ico"
3   ICON "data/icon9.ico"
4   ICON "data/icon10.ico"
5   ICON "data/icon11.ico"
6   ICON "data/icon12.ico"
8   ICON "data/icon13.ico"
9   ICON "data/icon14.ico"
10  ICON "data/icon2.ico"
11  ICON "data/icon3.ico"
12  ICON "data/icon4.ico"
13  ICON "data/icon5.ico"
14  ICON "data/icon6.ico"
15  ICON "data/icon7.ico"

